server {
  listen 80;
  server_name localhost;
  proxy_redirect off;
  proxy_set_header Host $http_host;
  proxy_set_header X-Real-IP $remote_addr;
  proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
  proxy_set_header X-Forwarded-Proto $scheme;

  location /consul/ {
    #rewrite ^/consul/(.*) $1 break;
    proxy_pass http://localhost:8500/ui/;
  }

  location /vault/ {
    #rewrite ^/vault/(.*) $1 break;
    proxy_pass http://localhost:8200/ui/;
  }
}
